*{
    box-sizing: border-box;
    margin:0;
}
#grid{
    width: 90vw;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
}
.gridUnit{
    border: 0.1px solid blue;
}
.ocean{
    background-color: blue;
}
/* .Europe{
    background-color: rgb(37, 53, 37);
}
.Asia{
    background-color: greenyellow;
}
.Americas{
    background-color: yellow;
}
.Africa{
    background-color: orange;
}
.Oceania{
    background-color: wheat;
} */
.Meadows{
    background-color: orange;
}
.Cropland{
    background-color: yellow;
}
.Planted_Forest{
    background-color: lightgreen;
}
.Naturally_regenerating_forest{
    background-color: green;
}
.Other_land{
    background-color: grey;
}
.ground{
    background-color: black;
}